# requirements.in
requests
numpy
pandas
ipykernel
scikit-learn
keras_tuner
tensorflow
seaborn
matplotlib
scipy
lightgbm
great-expectations
flask
flask-restful
awswrangler

selenium
cssselect
lxml

# boto3
# python-dotenv
# discord
# aiohttp
# urllib3